{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-12 col-md-6 col-lg-4">
    <div class="card shadow-sm">
      <div class="card-body p-lg-4">
        <h3 class="card-title mb-4 text-center">Đăng ký tài khoản</h3>
        <form method="post" action="/register?next={{ request.args.get('next', '') }}" class="vstack gap-3">
          <div>
            <label class="form-label" for="username">Tài khoản</label>
            <input class="form-control" id="username" name="username" required>
          </div>
          <div>
            <label class="form-label" for="password">Mật khẩu</label>
            <input class="form-control" type="password" id="password" name="password" required>
          </div>
          <div>
            <label class="form-label" for="password2">Nhập lại mật khẩu</label>
            <input class="form-control" type="password" id="password2" name="password2" required>
          </div>
          <button type="submit" class="btn btn-primary w-100 py-2 mt-2">Đăng ký</button>
        </form>
        <div class="form-text mt-3 text-center">
          Đã có tài khoản? <a href="/login{% if request.args.get('next') %}?next={{ request.args.get('next') }}{% endif %}">Đăng nhập</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}



